
#main_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}



/* DATA COLUMN */
.show_data_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 20%;  
}
.dataset_access {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
.box_input {
    width: 100%;
}
.dataset_label_input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.data_table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}




/* THE FORM */
.register_data {
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    height: 90%;
    width: 40%;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}


/* DATA REGISTER */
.register_word {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.register_word h2 {
    margin: 10px;
    /* color: black; */
    font-size: 16px;
}
.inputs_labels {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.class_select {
    width: 130px;
    outline: none;
    border: 0;
    border-radius: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 5px;
}
.class_select option {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.label_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    /* margin: 5px 10px 5px 10px; */
}
.article_input input {
    width: 60px;
}
.language_meaning {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsecription_input {
    display: flex;
    flex-direction: row;
}
.form_base {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid indigo;
    margin-bottom: 10px;
    /* background-color: lawngreen; */
}
.label_input label {
    color: black;
    /* color: whitesmoke; */
    font-size: 14px;
}
.label_input input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    outline: none;
    cursor: text;
    border: 0;
    padding: 3px;
    color: black;
    overflow: visible;
    text-align: center;
    margin: 5px;
}




/* TABLE VISUALIZATION */
table {
    margin-bottom: 10px;
}
th {
    background-color: rgb(194, 194, 194);
}
.table_class th, .table_class td {
    color: black;
    padding: 5px;
}
td {
    text-align: center;
    /* box-shadow: 1px 1px 4px rgb(49, 49, 49); */
}

td:nth-child(1), 
td:nth-child(2), 
td:nth-child(3) {
    padding: 1px 5px;
    background-color: rgb(146, 173, 255);
}




/* BUTTONS SETS */
.general_button {
    margin: 20px 5px;
}



/* RESPONSIVE: TO TABLET */
@media (max-width: 770px) {
    #main_form {
        flex-direction: column;
        margin: 20px 0;
        padding: 0px;
    }
    .show_data_column {
        width: 50%;
    }
    .register_data {
        font-size: inherit;
        width: 80%;
    }
}
