
#main_flash_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.counter_container {
    width: 40%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.counter_container .cards_container_counter {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: 7%;
    font-size: inherit;
    padding: 5px;
    border: 0;
    transition: 0.5s, color 0.5s;
    outline: none;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
.counter_container p {
    color: indigo;
}
.container_cards_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.container_side_buttons {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    margin: 20px;
}
.container_side_buttons button {
    height: 20%;
    cursor: pointer;
    color: indigo;
    /* padding: 10px; */
    transition: all 0.5s;
}
.container_side_buttons button:hover {
    background-color: rgb(58, 58, 58);
}
.container_side_buttons button:active {
    background-color: rgb(78, 78, 78);
}
.partsofmain_flash_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* overflow: auto; */
}
.cards_container {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.flip_card {
    display: flex;
    height: 300px;
    width: 100%;
    font-size: inherit;
    /* margin: 8px; */
    cursor: pointer;
    perspective: 1000px;
}


/* MEMORY CARD SPECIFICATIONS */
.flip_card_inner {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .7s;
    transform-style: preserve-3d;
    /* box-shadow: 2px 2px 6px 0 rgb(81, 0, 128); */
}
.flip_card:active .flip_card_inner {
    transform: scale(0.97);
    transition: transform .2s;
}

/* HIDING CHECKBOX */
input[id^="flip_card_"],
input[id^="back_card_"] {
    display: none;
}

/* ROTATION RULE: WHEN CHECKED */
input[id^="flip_card_"]:checked ~ label[id^="label_card_"] div[id^="flip_inner_"] {
    transform: rotateY(180deg);
}


.flip_card_front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.flip_card_front {
    background-color: rgb(41, 41, 41);
}
.flip_card_back {
    flex-direction: column;
    transform: rotateY( 180deg );
}
.flip_card_back h3,
.flip_card_front h3 {
    font-size: 1.5em;
}
.flip_card_back {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.back_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.down_part {
    height: 20%;
    background-color: whitesmoke;
}
.general_button {
    margin: 0;
    padding: 5px;
}
.button_select label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    box-shadow: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
.button_select label:hover {
    color: whitesmoke;
    background-color: indigo;
}
.button_select label:active {
    color: whitesmoke;
    background-color: rgb(66, 5, 110);
}
.button_select input:checked + label {
    background-color: indigo;
    color: whitesmoke;
}
.button_select input:checked + label:hover {
    background-color: rgb(66, 5, 110);
}
.button_select input:checked + label:active {
    background-color: whitesmoke;
    color: indigo;
}


/* 
.container_cards_numbers {
    justify-content: space-evenly;
    margin: 0px;
} */
.buttons_container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
}
#button_restart {
    margin: 0;
}
.buttons_container p {
    margin: 10px;
    padding: 5px;
}
.select_resource {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.button_resource {
    margin: 0;
}




/* FEEDBACK */
.feedback {
    display: none;
}
.feedback p {
    color: red;
}




/* RESPONSIVE: TO TABLET */
@media (max-width: 770px) {
    .partsofmain_flash_card {
        width: 90%;
    }
    .buttons_container {
        width: 90%;
    }
    .counter_container {
        width: 90%;
    }
}



/* RESPONSIVE: TO LARGE CELL PHONE */
@media (max-width: 425px) {
    .partsofmain_flash_card {
        width: 90%;
    }
}



/* RESPONSIVE: TO TINY CELL PHONE */
@media (max-width: 320px) {
    .partsofmain_flash_card {
        width: 90%;
    }
}




/* transformed */
.first_plan {
    height: 350px;
    width: 260px;
}
.second_plan {
    height: 330px;
    width: 240px;
}





/* GENERAL CLASS */
.hiddenElement {
    display: none;
}
.showElement {
    display: flex;
}
.feminine {
    color: rgb(230, 63, 63);
}
.masculine {
    color: royalblue;
}
.neutral {
    color: rgb(45, 185, 45);
}