#main_multiple_choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#partsofmain_multiple_choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    /* background-color: orange; */
    /* border-radius: 6px; */
    height: auto;
    width: 55%;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
.containerHidden {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container_counter {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 10px;
}
.quest_counter {
    color: black;
}
.reference_word {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    height: 200px;
    
}
.reference_word {
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: black;
}
.answers_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: 10px;
}
.answer_place {
    display: flex;
    padding: 10px;

}
.answer_word {
    width: 250px;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s, color 0.3s;
    box-shadow: 2px 2px 6px 0 grey;
}
.answer_word:hover {
    transform: scale(1.1);
}
.answer_word:active {
    background-color: rgb(78, 78, 78);
}

.correct_choice {
    background-color: rgb(61, 216, 69);
}
.wrong_choice {
    background-color: red;
}
.not_chosen {
    background-color: rgb(255, 116, 116);
}



#button_next {
    background-color: limegreen;
}





/* FEEDBACK */


