
/* PERFORMANCE PROGRESS BAR */
.performance-progress {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    width: 55%;
    background-color: whitesmoke;
}
#blank-bar, #correct-bar, #wrong-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}
#blank-bar {
    color: black;
    width: 80%;
    height: 20px;
    background-color: whitesmoke;
}
#correct-bar {
    width: 10%;
    height: 20px;
    background-color: rgb(61, 216, 69);
}
#wrong-bar {
    width: 10%;
    height: 20px;
    background-color: red;
}




/* GAME BUTTONS RESOURCES */
.general-options-buttons-container {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_resources {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}




/* BUTTON MARK-UNMARK */
/* #button_mark {
    display: none;
} */
.button_marked {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
}
.button_marked:hover {
    background-color: rgb(58, 58, 58);
}
.button_marked:active {
    background-color: rgb(78, 78, 78);
}