
#main_memory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 15px;
}
.partsofmain_memory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    width: 70%;
}
.cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.flip_card {
    display: none;
    height: 120px;
    width: 120px;
    font-size: inherit;
    margin: 5px;
    cursor: pointer;
    
    perspective: 1000px;
}


/* MEMORY CARD SPECIFICATIONS */
.flip_card_inner {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .7s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 6px 0 rgb(81, 0, 128);
}
.flip_card:active .flip_card_inner {
    transform: scale(0.97);
    transition: transform .2s;
    /* transform: rotateY(180deg); */
}

/* HIDING CHECKBOX */
input[id^="flip_card_"] {
    display: none;
}

/* ROTATION RULE: WHEN CHECKED */
input[id^="flip_card_"]:checked ~ label[id^="label_card_"] div[id^="flip_inner_"] {
    transform: rotateY(180deg);
}


.flip_card_front, 
.flip_card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    background-color: rgb(41, 41, 41);
}
.flip_card_front {
    background-color: rgb(41, 41, 41);
}
.flip_card_front:hover {
    background-color: rgb(58, 58, 58);
}
.flip_card_front:active {
    background-color: rgb(78, 78, 78);
}
.flip_card_back {
    flex-direction: column;
    transform: rotateY( 180deg );
}
.flip_card_back h3 {
    font-size: 1em;
}
.flip_card_back:hover, .word_container:hover {
    background-color: rgb(58, 58, 58);
}
.flip_card_back:active, .word_container:active {
    background-color: rgb(78, 78, 78);
}

/* ADD IN THE FUTURE: gradient red or green if match or not */
/* .correc_match {
    background: radial-gradient(rgb(41, 41, 41), green);
}
.wrong_match {
    background: radial-gradient(rgb(41, 41, 41), red);
} */


.container_cards_numbers {
    justify-content: space-evenly;
    margin: 0px;
}
.buttons_container {
    background-color: orange;
}
.inputs_and_labels input {
    display: none;
}
.inputs_and_labels label:hover {
    transform: scale(1.1);
}
.inputs_and_labels input:checked + label {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
}
.inputs_and_labels input:checked + label:active {
    background-color: rgb(78, 78, 78);
    color: whitesmoke;
}
.button_resource {
    margin: 5px;
    padding: 10px;
}
#button_restart {
    margin: 15px;
}



.masculine {
    color: royalblue;
}
.feminine {
    color: rgb(230, 63, 63);
}
.neutral {
    color: rgb(45, 185, 45);
}




/* RESPONSIVE: TO TABLET */
@media (max-width: 770px) {
    .partsofmain_memory {
        width: 100%;
    }
}



/* RESPONSIVE: TO LARGE CELL PHONE */
@media (max-width: 425px) {
    .partsofmain_memory {
        width: 100%;
    }
}



/* RESPONSIVE: TO TINY CELL PHONE */
@media (max-width: 320px) {
    .partsofmain_memory {
        width: 100%;
    }
}




/* GENERAL CLASS */
.hiddenElement {
    display: none;
}
.showElement {
    display: flex;
}
.correct_answer {
    background-color: rgb(45, 185, 45);
}
.wrong_answer {
    background-color: rgb(230, 63, 63);
}
