.main_parameters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.section {
    width: 100%;
    height: 100vh;
}
.section2 {
    background-color: rgb(160, 117, 209);
}