.main_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    height: 60%;
    width: 60%;
}
.inputs_containers {
    display: flex;
    align-items: center;
    background-color: tomato;
    margin: 10px;
    padding: 10px;
    height: 90%;
    width: 90%;
}