<footer id="footer">
    <div class="footer_options">
        <a href="/info-about">About</a>
        <a href="/info-parameters">Parameters</a>
    </div>
    <div class="footer_options">
        <a href="/info-suggestions">Suggestions</a>
        <a href="/info-contact">Contact</a>
    </div>
</footer>