<div class="general-options-buttons-container">

    <div class="container_resources">
        {{!-- REQUIRE: hover to explain "if resolve will set as wrong" --}}
        <input class="general_button button_resource" name="button_resolve" id="button_resolve" value="Resolve">

        {{!-- REQUIRE: change as 'marked' and change color (blank and marked) --}}
        <input class="general_button button_resource" name="button_mark" id="button_mark" value="Unmarked">
    </div>


    <div class="container_resources">
        <input class="general_button button_resource" name="button_previous" id="button_previous" value="Previous">
    
        <input class="general_button button_resource" name="button_next" id="button_next" value="Next">
    </div>


    {{!-- <div class="container_resources">
        <input class="general_button button_resource" name="button_restart" id="button_restart" value="Restart">
    </div> --}}
</div>