<div class="performance-progress">
    {{!-- question number and number of all questions --}}
    {{!-- percentage: corrects, wrongs and unresolved --}}

    <div id="correct-bar">10%</div>
    <div id="wrong-bar">10%</div>
    <div id="blank-bar">80%</div>
</div>