<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}
        <div id="main_form">


            {{!-- FORM TO ADD AND UPDATE DATA --}}
            <form class="register_data" action="/words" method="post">

                <div class="register_word">
                    <div class="inputs_labels">

                        <div class="label_input themes_container">
                            <label for="input_theme">Theme</label>
                            <select class="class_select" name="name_theme" id="input_theme">

                                {{!-- <option value="animals">Animals</option> --}}
                                <option value="empty"></option>
                                <option value="body">Body</option>
                                <option value="city">City</option>
                                <option value="clothes">Clothes</option>
                                {{!-- <option value="countries">Countries</option> --}}
                                {{!-- <option value="disease">Disease</option> --}}
                                {{!-- <option value="drinks">Drinks</option> --}}
                                {{!-- <option value="family">Family</option> --}}
                                {{!-- <option value="fansaty">Fansaty</option> --}}
                                {{!-- <option value="feelings">Feelings</option> --}}
                                <option value="food">Food</option>
                                {{!-- <option value="hobbies">Hobbies</option> --}}
                                {{!-- <option value="hospital">Hospital</option> --}}
                                <option value="house">House</option>
                                {{!-- <option value="jobs">Profesions</option> --}}
                                <option value="law">Law</option>
                                {{!-- <option value="movies">Movies</option> --}}
                                {{!-- <option value="music">Music</option> --}}
                                <option value="nature">Nature</option>
                                {{!-- <option value="numbers">Numbers</option> --}}
                                {{!-- <option value="office">Office</option> --}}
                                <option value="objects">Objects</option>
                                <option value="politic">Politic</option>
                                {{!-- <option value="religion">Religion</option> --}}
                                {{!-- <option value="school">School</option> --}}
                                <option value="science">Science</option>
                                <option value="sports">Sports</option>
                                <option value="vehicles">Vehicles</option>
                            </select>
                        </div>

                        <div class="label_input">
                            <label for="input_level">Difficulty </label>
                            <select class="class_select" name="name_level" id="input_level">

                                <option value=""></option>
                                <option value="basic">Basic</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="advanced">Advanced</option>
                            </select>
                        </div>

                        <div class="label_input">
                            <label for="input_grammar">Part of speech</label>
                            <select class="class_select" name="name_grammar" id="input_grammar">

                                {{!-- <option value=""></option> --}}
                                {{!-- TO ADD --}}
                                {{!-- <option value="adjective">Adjectives</option> --}}
                                {{!-- <option value="adverb">Adverbs</option> --}}
                                <option value="noun">Noun</option>
                                <option value="verb">Verb</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>English</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_eng" type="text" name="english[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_eng" type="text" name="english[word]">
                        </div>

                        <div class="label_input gender_input">
                            <label for="english_gender">Gender</label>
                            <select class="class_select" name="english[gender]" id="english_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>French</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_fren" type="text" name="french[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_fren" type="text" name="french[word]">
                        </div>

                        <div class="label_input gender_input">
                            <label for="french_gender">Gender</label>
                            <select class="class_select" name="french[gender]" id="french_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>German</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_germ" type="text" name="german[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_germ" type="text" name="german[word]">
                        </div>

                        <div class="label_input gender_input">
                            <label for="german_gender">Gender</label>
                            <select class="class_select" name="german[gender]" id="german_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="register_word">
                    <h2>Italian</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_ital" type="text" name="italian[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_ital" type="text" name="italian[word]">
                        </div>

                        <div class="label_input gender_input">
                            <label for="italian_gender">Gender</label>
                            <select class="class_select" name="italian[gender]" id="italian_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="register_word">
                    <h2>Portuguese</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_port" type="text" name="portuguese[article]">
                        </div>

                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_port" type="text" name="portuguese[word]">
                        </div>

                        <div class="label_input gender_input">
                            <label for="portuguese_gender">Gender</label>
                            <select class="class_select" name="portuguese[gender]" id="portuguese_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="register_word">
                    <h2>Spanish</h2>
                    <div class="inputs_labels">

                        <div class="label_input article_input">
                            <label for="">Article</label>
                            <input id="art_span" type="text" name="spanish[article]">
                        </div>
                        <div class="label_input">
                            <label for="">Word</label>
                            <input id="word_span" type="text" name="spanish[word]">
                        </div>
                        <div class="label_input gender_input">
                            <label for="spanish_gender">Gender</label>
                            <select class="class_select" name="spanish[gender]" id="spanish_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                            </select>
                        </div>

                    </div>
                </div>



                {{!-- BUTTON: TO ADD DATA --}}
                <div>
                    <input type="submit" class="general_button" id="button_register" value="Register">
                </div>
            </form>







            {{!-- SHOW DATA --}}
            <div class="show_data_column">
                <form class="dataset_access" action="/data-form-table" method="get">
                
                    <div class="box_input">
                        <div class="dataset_label_input">
                            <label for="input_first_language">Language</label>
                            <select class="class_select" name="option_language" id="input_first_language">

                                <option value="empty"></option>
                                <option value="english">English</option>
                                <option value="french">French</option>
                                <option value="german">German</option>
                                <option value="italian">Italian</option>
                                <option value="portuguese">Portuguese</option>
                                <option value="spanish">Spanish</option>
                            </select>
                        </div>

                        <div class="dataset_label_input">
                            <label for="input_grammar">Part of speech</label>
                            <select class="class_select" name="option_grammar" id="input_grammar">

                                <option value="empty"></option>
                                {{!-- <option value="adjective">Adjective</option>
                                <option value="adverb">Adverb</option> --}}
                                <option value="noun">Noun</option>
                                <option value="verb">Verb</option>
                            </select>
                        </div>
                    </div>


                    <div class="box_input">
                        <div class="dataset_label_input">
                            <label for="input_level">Difficulty </label>
                            <select class="class_select" name="option_level" id="input_level">

                                <option value="empty"></option>
                                <option value="basic">Basic</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="advanced">Advanced</option>
                            </select>
                        </div>
                        <div class="dataset_label_input">
                            <label for="input_theme">Theme</label>
                            <select class="class_select" name="option_theme" id="input_theme">

                                <option value="empty"></option>
                                <option value="body">Body</option>
                                <option value="city">City</option>
                                <option value="clothes">Clothes</option>
                                <option value="food">Food</option>
                                <option value="house">House</option>
                                <option value="law">Law</option>
                                <option value="nature">Nature</option>
                                <option value="objects">Objects</option>
                                <option value="politic">Politic</option>
                                <option value="science">Science</option>
                                <option value="sports">Sports</option>
                                <option value="vehicles">Vehicles</option>
                            </select>
                        </div>
                    </div>

                    {{!-- BUTTON: FOR THE TABLE --}}
                    <div>
                        <input type="submit" class="general_button" id="button_find"  value="Find">
                    </div>
                </form>



                <div class="data_table">

                    {{!-- TABLE --}}
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">{{word.theFirstLanguage}}</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>Article</td>
                            <td>Word</td>
                            <td>Gender</td>
                        </tr>

                        {{#each word}}
                            <tr>
                                <td>{{firstLanguage.article}}</td>
                                <td>{{firstLanguage.word}}</td>
                                <td>{{firstLanguage.gender}}</td>
                            </tr>
                        {{/each}}
                    
                    </table>
                </div>
            </div>

        </div>
    </div>
	{{> footer}}
</main>

<script src="/scripts/data-form.js"></script>
{{> scripts}}