
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_form_words">

            {{#each words.arrayOfCorrectWOrds}}
                <div class="container_challenger">
                    
                    {{!-- CORRECT WORD --}}
                    <div hidden>
                        {{!-- require: change set letter to word in Game as an object --}}
                        <p class="checkable" id="letter_checkable_{{@index}}" hidden>{{arrayOfCorrectWOrds.letter}}</p>
                    </div>

                    {{!-- CONTAINER TO DROP --}}
                    <div class="container partsofmain_form_words" id="container_answer">
                        
                    </div>


                    {{!-- CONTAINER OF LETTERS --}}
                    <div class="container partsofmain_form_words">
                        {{#each words.arrayOfMixedLetters}}

                            <p class="draggable" id="letter_{{@index}}" draggable="true">{{arrayOfMixedLetters.letter}}</p>
                    
                        {{/each}}
                    </div>


                </div>
            {{/each}}



            

            {{!-- BUTTONS --}}
            <div class="buttons_container">
                <input class="general_button button_resource" id="button_resolve" value="Resolve">
                <input class="general_button button_resource" id="button_next" value="Next">
            </div>

            {{!-- <div class="partsofmain_form_words" id="challenger_space">
            
            
                
            </div> --}}


            
            <div>
                {{!-- RESTART BUTTON --}}
                <input type="submit" onClick="window.location.reload();" class="general_button" id="button_restart" value="Restart">
            </div>

            
        </div>
    </div>

    {{> footer}}
</main>


<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
{{!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> --}}


<script src="/scripts/game-formWords.js"></script>
{{> scripts}}