
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div id="main_flash_card">

            <h1>FLASH CARD    FLASH CARD</h1>
            
        </div>
    </div>
    {{> footer}}
</main>

{{!-- <script src="/scripts/game-flashcCard.js"></script> --}}
{{> scripts}}