
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div id="main_links">

            <h1>LINKS LINKS LINKS</h1>
            
        </div>
    </div>
    {{> footer}}
</main>

{{!-- <script src="/scripts/game-links.js"></script> --}}
{{> scripts}}