
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_hangman">

            <div class="hangman_activity">

                {{!-- HANGMAN image --}}
                <div class="hangman_display">
                    <h3>HANGMAN</h3>
                </div>


                <div class="letters_resource">

                    {{!-- word to discover --}}
                    <div class="partsofmain_hangman letters_discover" id="hangman_and_word">

                        <div class="letters_display" id="display_letters">
                            
                            {{#each words}}
                                <div class="letter_case">
                                    <p class="letter_space" id="letter_{{@index}}">{{letter}}</p>
                                </div>
                            {{/each}}

                        </div>
                    </div>

                    {{!-- letters KEYBOARD --}}
                    <div class="partsofmain_hangman letters_keyboard" id="buttons_space">

                    </div>


                    {{!-- resource BUTTONS --}}
                    <div class="buttons_container">
                        <input class="general_button button_resource" name="button_resolve" id="button_resolve" value="Resolve">
                        <input class="general_button button_resource" name="button_next" id="button_next" value="Next">
                    </div>



                    <div>
                        {{!-- RESTART BUTTON --}}
                        <input type="submit" onClick="window.location.reload();" class="general_button" id="button_restart" value="Restart">
                    </div>
                </div>
            </div>


            
            
        </div>
    </div>

    {{> footer}}
</main>

<script src="/scripts/game-hangman.js"></script>
{{> scripts}}