<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}

        <div class="main_site">
            <section class="main_title">
                <h1>On Languages</h1>
            </section>

            <section class="main_info">
                <div class="info_section">
                    <h3>About Us</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi dolore ab accusamus obcaecati? Maxime facilis qui neque, officia nisi explicabo, aliquid aut quaerat, fugit alias quisquam debitis sequi officiis veniam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, optio facilis autem explicabo animi, deserunt praesentium a non doloremque voluptas sint asperiores? Amet voluptatem cumque accusamus eveniet ullam? Ipsum, porro.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ad dolorum deserunt voluptas asperiores esse. Illum porro nobis explicabo quidem! Quidem eius ea sint aut eaque quisquam maxime explicabo ullam?</p>
                </div>


                <div class="info_section">
                    <h3>Resources</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi dolore ab accusamus obcaecati? Maxime facilis qui neque, officia nisi explicabo, aliquid aut quaerat, fugit alias quisquam debitis sequi officiis veniam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, optio facilis autem explicabo animi, deserunt praesentium a non doloremque voluptas sint asperiores? Amet voluptatem cumque accusamus eveniet ullam? Ipsum, porro.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ad dolorum deserunt voluptas asperiores esse. Illum porro nobis explicabo quidem! Quidem eius ea sint aut eaque quisquam maxime explicabo ullam?</p>
                </div>


                <div class="info_section">
                    <h3>Parameters</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi dolore ab accusamus obcaecati? Maxime facilis qui neque, officia nisi explicabo, aliquid aut quaerat, fugit alias quisquam debitis sequi officiis veniam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, optio facilis autem explicabo animi, deserunt praesentium a non doloremque voluptas sint asperiores? Amet voluptatem cumque accusamus eveniet ullam? Ipsum, porro.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ad dolorum deserunt voluptas asperiores esse. Illum porro nobis explicabo quidem! Quidem eius ea sint aut eaque quisquam maxime explicabo ullam?</p>
                </div>
            </section>
            
        </div>

    </div>

    {{> footer}}
    
</main>

{{> scripts}}