
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div class="main_parameters">

            <section class="section section1">

            </section>



            <section class="section section2">

            </section>



            <section class="section section3">

            </section>
            
        </div>
    </div>
    {{> footer}}
</main>

{{> scripts}}