
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div class="main_contact">

            <div class="contact_container">
                <div class="inputs_containers">

                </div>

                <div class="inputs_containers">

                </div>
            </div>
            
        </div>
    </div>
    {{> footer}}
</main>

{{> scripts}}