
<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}    

        <div class="main_about">

            <section class="section section1">

                <div class="sub_container text_container">
                    <h3>What are we</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam, magnam quae eum voluptas rem tempora saepe quo culpa quos voluptatem dicta, ut, perferendis odit repudiandae nesciunt. Harum, expedita eius.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate enim expedita veniam, eos animi alias repudiandae delectus quam minus laboriosam quae cum, quia, rerum impedit eaque sunt pariatur vitae aspernatur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat voluptas illum, cum nostrum suscipit saepe architecto doloremque obcaecati sed neque eius aliquam, explicabo iste velit consectetur! Est, laboriosam fugit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae aliquam in quisquam voluptates alias nulla veniam, consectetur, veritatis, velit vero earum labore officia doloremque magni commodi asperiores culpa laboriosam dignissimos.</p>
                </div>

                <div class="sub_container image_container">
                    image
                </div>
            </section>



            <section class="section section2">

                <div class="sub_container text_container">
                    <h3>What will you find</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam, magnam quae eum voluptas rem tempora saepe quo culpa quos voluptatem dicta, ut, perferendis odit repudiandae nesciunt. Harum, expedita eius.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate enim expedita veniam, eos animi alias repudiandae delectus quam minus laboriosam quae cum, quia, rerum impedit eaque sunt pariatur vitae aspernatur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat voluptas illum, cum nostrum suscipit saepe architecto doloremque obcaecati sed neque eius aliquam, explicabo iste velit consectetur! Est, laboriosam fugit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae aliquam in quisquam voluptates alias nulla veniam, consectetur, veritatis, velit vero earum labore officia doloremque magni commodi asperiores culpa laboriosam dignissimos.</p>
                </div>

                <div class="sub_container image_container">
                    image
                </div>
            </section>



            <section class="section section3">

                <div class="sub_container text_container">
                    <h3>Activities!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam, magnam quae eum voluptas rem tempora saepe quo culpa quos voluptatem dicta, ut, perferendis odit repudiandae nesciunt. Harum, expedita eius.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate enim expedita veniam, eos animi alias repudiandae delectus quam minus laboriosam quae cum, quia, rerum impedit eaque sunt pariatur vitae aspernatur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat voluptas illum, cum nostrum suscipit saepe architecto doloremque obcaecati sed neque eius aliquam, explicabo iste velit consectetur! Est, laboriosam fugit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae aliquam in quisquam voluptates alias nulla veniam, consectetur, veritatis, velit vero earum labore officia doloremque magni commodi asperiores culpa laboriosam dignissimos.</p>
                </div>

                <div class="sub_container image_container">
                    image
                </div>
            </section>



            <section class="section section4">

                <div class="sub_container text_container">
                    <h3>our vocabulary!</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam, magnam quae eum voluptas rem tempora saepe quo culpa quos voluptatem dicta, ut, perferendis odit repudiandae nesciunt. Harum, expedita eius.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate enim expedita veniam, eos animi alias repudiandae delectus quam minus laboriosam quae cum, quia, rerum impedit eaque sunt pariatur vitae aspernatur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat voluptas illum, cum nostrum suscipit saepe architecto doloremque obcaecati sed neque eius aliquam, explicabo iste velit consectetur! Est, laboriosam fugit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae aliquam in quisquam voluptates alias nulla veniam, consectetur, veritatis, velit vero earum labore officia doloremque magni commodi asperiores culpa laboriosam dignissimos.</p>
                </div>

                <div class="sub_container image_container">
                    image
                </div>
            </section>
        </div>
    </div>

    {{> footer}}

</main>

{{> scripts}}