
<main id="main_and_footer">

    <div id="header_and_main">

        {{> header}}    

        <div id="main_options">

            <form id="games_options" action="/gameoptions" method="get">

                <div class="options_selector">
                    <h3>Activities</h3>
                    <div class="inputs_and_labels">
                        {{!-- <input type="radio" class="input_option" id="option_association" name="option_game" value="association">
                        <label class="general_button" for="option_association">Association</label> --}}

                        {{!-- <input type="radio" class="input_option" id="option_flash_card" name="option_game" value="flashCard">
                        <label class="general_button" for="option_flash_card">Flash Card</label> --}}

                        <input type="radio" class="input_option" id="option_form_words" name="option_game" value="Form Words">
                        <label class="general_button" for="option_form_words">Form Words</label>
                        
                        <input type="radio" class="input_option" id="option_hangman" name="option_game" value="Hangman">
                        <label class="general_button" for="option_hangman">Hangman</label>

                        {{!-- <input type="radio" class="input_option" id="option_link_article" name="option_game" value="linkArticle">
                        <label class="general_button" for="option_link_article">Link Article</label> --}}

                        <input type="radio" class="input_option" id="option_memory" name="option_game" value="Memory">
                        <label class="general_button" for="option_memory">Memory</label>

                        <input type="radio" class="input_option" id="option_multipleChoice" name="option_game" value="Multiple Choice">
                        <label class="general_button" for="option_multipleChoice">Multiple Choice</label>

                        <input type="radio" class="input_option" id="option_write" name="option_game" value="Write the Translation">
                        <label class="general_button" for="option_write">Write the Translation</label>
                    </div>
                </div>



                <div class="options_selector">
                    <h3>Language</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option_english" name="option_language" value="english">
                        <label class="general_button" for="option_english">English</label>

                        <input type="radio" class="input_option" id="option_french" name="option_language" value="french">
                        <label class="general_button" for="option_french">French</label>

                        <input type="radio" class="input_option" id="option_german" name="option_language" value="german">
                        <label class="general_button" for="option_german">German</label>

                        <input type="radio" class="input_option" id="option_italian" name="option_language" value="italian">
                        <label class="general_button" for="option_italian">Italian</label>

                        <input type="radio" class="input_option" id="option_portuguese" name="option_language" value="portuguese">
                        <label class="general_button" for="option_portuguese">Portuguese</label>

                        <input type="radio" class="input_option" id="option_spanish" name="option_language" value="spanish">
                        <label class="general_button" for="option_spanish">Spanish</label>
                    </div>
                </div>




                <div class="options_selector">
                    <h3>Part of speech</h3>
                    <div class="inputs_and_labels">
                        {{!-- <input type="radio" class="input_option" id="option_adjective" name="option_grammar" value="adjective">
                        <label class="general_button" for="option_adjective">Adjectives</label> --}}

                        {{!-- <input type="radio" class="input_option" id="option_adverb" name="option_grammar" value="adverb">
                        <label class="general_button" for="option_adverb">Adverbs</label> --}}

                        <input type="radio" class="input_option" id="option_noun" name="option_grammar" value="noun">
                        <label class="general_button" for="option_noun">Nouns</label>

                        <input type="radio" class="input_option" id="option_verb" name="option_grammar" value="verb">
                        <label class="general_button" for="option_verb">Verbs</label>
                    </div>
                </div>



                <div class="options_selector" id="noun_themes">
                    <h3>Themes</h3>
                    <div class="inputs_and_labels">
                        {{!-- <input type="checkbox" class="input_option" id="option_abstract" name="option_theme" value="abstract">
                        <label class="general_button" for="option_abstract">Abstract Nouns</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_animals" name="option_theme" value="animals">
                        <label class="general_button" for="option_animals">Animals</label> --}}

                        <input type="checkbox" class="input_option" id="option_body" name="option_theme" value="body">
                        <label class="general_button" for="option_body">Body</label>

                        <input type="checkbox" class="input_option" id="option_city" name="option_theme" value="city">
                        <label class="general_button" for="option_city">City</label>

                        <input type="checkbox" class="input_option" id="option_clothes" name="option_theme" value="clothes">
                        <label class="general_button" for="option_clothes">Clothes and Accessories</label>

                        {{!-- <input type="checkbox" class="input_option" id="option_economy" name="option_theme" value="economy">
                        <label class="general_button" for="option_economy">Economy</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_erudite" name="option_theme" value="erudite">
                        <label class="general_button" for="option_erudite">Erudite</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_fantasy" name="option_theme" value="fantasy">
                        <label class="general_button" for="option_fantasy">Fantasy and RPG</label> --}}

                        <input type="checkbox" class="input_option" id="option_food" name="option_theme" value="food">
                        <label class="general_button" for="option_food">Foods and Drinks</label>

                        {{!-- <input type="checkbox" class="input_option" id="option_house" name="option_theme" value="house">
                        <label class="general_button" for="option_house">House</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_law" name="option_theme" value="law">
                        <label class="general_button" for="option_law">Law</label> --}}

                        <input type="checkbox" class="input_option" id="option_nature" name="option_theme" value="nature">
                        <label class="general_button" for="option_nature">Nature</label>

                        <input type="checkbox" class="input_option" id="option_objects" name="option_theme" value="objects">
                        <label class="general_button" for="option_objects">Objects</label>

                        <input type="checkbox" class="input_option" id="option_politic" name="option_theme" value="politic">
                        <label class="general_button" for="option_politic">Politic</label>

                        {{!-- <input type="checkbox" class="input_option" id="option_religion" name="option_theme" value="religion">
                        <label class="general_button" for="option_religion">Religion</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_science" name="option_theme" value="science">
                        <label class="general_button" for="option_science">Science</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_sports" name="option_theme" value="sports">
                        <label class="general_button" for="option_sports">Sports</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_substances" name="option_theme" value="substances">
                        <label class="general_button" for="option_substances">Substances</label> --}}

                        {{!-- <input type="checkbox" class="input_option" id="option_vehicles" name="option_theme" value="vehicles">
                        <label class="general_button" for="option_vehicles">Vehicles</label> --}}
                    </div>
                </div>



                <div class="options_selector">
                    <h3>Complexity</h3>
                    <div class="inputs_and_labels">

                        {{!-- NEW LEVEL SETUP --}}
                        <input type="checkbox" class="input_option" id="option_basic" name="option_level" value="basic">
                        <label class="general_button" for="option_basic">Basic</label>

                        <input type="checkbox" class="input_option" id="option_deepened" name="option_level" value="deepened">
                        <label class="general_button" for="option_deepened">Deepened</label>
                    </div>
                </div>



                <div class="options_selector method_language">
                    <h3>Language Options</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option_mono" name="option_language_method" value="mono">
                        <label class="general_button" for="option_mono">One Language</label>

                        <input type="radio" class="input_option" id="option_dual" name="option_language_method" value="dual">
                        <label class="general_button" for="option_dual">Dual language</label>

                        {{!-- <input type="radio" class="input_option" id="option_mono_supp" name="option_language_method" value="monosupp">
                        <label for="option_mono_supp">One Language with Support</label> --}}
                    </div>
                </div>



                <div class="options_selector second_language">
                    <h3 id="title_second_language">Second Language</h3>
                    <div class="inputs_and_labels">
                        <input type="radio" class="input_option" id="option2_english" name="option2_language" value="english">
                        <label class="general_button label_option2_language" for="option2_english">English</label>

                        <input type="radio" class="input_option" id="option2_french" name="option2_language" value="french">
                        <label class="general_button label_option2_language" for="option2_french">French</label>

                        <input type="radio" class="input_option" id="option2_german" name="option2_language" value="german">
                        <label class="general_button label_option2_language" for="option2_german">German</label>

                        <input type="radio" class="input_option" id="option2_italian" name="option2_language" value="italian">
                        <label class="general_button label_option2_language" for="option2_italian">Italian</label>

                        <input type="radio" class="input_option" id="option2_portuguese" name="option2_language" value="portuguese">
                        <label class="general_button label_option2_language" for="option2_portuguese">Portuguese</label>

                        <input type="radio" class="input_option" id="option2_spanish" name="option2_language" value="spanish">
                        <label class="general_button label_option2_language" for="option2_spanish">Spanish</label>
                    </div>
                </div>


                <div>
                    <input type="submit" id="button_start" class="general_button" value="Start">
                </div>

                {{!-- REQUIRE: SETUP CHALLENGER MODE --}}
                {{!-- <div>
                    <input type="submit" id="button_challenger" value="Challenger">
                </div> --}}
            </form>
        </div>
    </div>

    {{> footer}}

</main>


<script src="/scripts/options.js"></script>
{{> scripts}}