<main id="main_and_footer">
    <div id="header_and_main">

        {{> header}}

        <div id="main_form">
            <form class="register_data" action="/words" method="post">

                <div class="register_word">
                    <div class="inputs_labels">
                        <div class="label_input form_base">
                            <label for="">Word</label>
                            <input id="id_word" type="text" name="name_word">
                        </div>


                        <div class="label_input form_base">
                            <label for="input_language">Language</label>
                            <select class="class_select" name="name_language" id="input_language">
                                <option value=""></option>
                                <option value="french">French</option>
                                <option value="english">English</option>
                                <option value="german">German</option>
                                <option value="italian">Italian</option>
                                <option value="portuguese">Portuguese</option>
                                <option value="spanish">Spanish</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="input_level">Level</label>
                            <select class="class_select" name="name_level" id="input_level">
                                <option value=""></option>
                                <option value="basic">Basic</option>
                                <option value="deepened">Deepened</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="input_grammar">Part of speech</label>
                            <select class="class_select" name="name_grammar" id="input_grammar">
                                <option value=""></option>
                                <option value="adjective">Adjective</option>
                                <option value="adverb">Adverb</option>
                                <option value="noun">Noun</option>
                                <option value="verb">Verb</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="id_gender">Gender</label>
                            <select class="class_select" name="name_gender" id="id_gender">
                                <option value=""></option>
                                <option value="feminine">Feminine</option>
                                <option value="masculine">Masculine</option>
                                <option value="neutral">Neutral</option>
                                <option value="not_specified">not specified</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="id_number">Number</label>
                            <select class="class_select" name="name_number" id="id_number">
                                <option value=""></option>
                                <option value="singular">Singular</option>
                                <option value="plural">Plural</option>
                                <option value="neutral">Neutral</option>
                                <option value="not_specified">not specified</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="id_contraction">Article Contraction</label>
                            <select class="class_select" name="name_contraction" id="id_contraction">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>


                        <div class="label_input form_base">
                            <label for="input_theme">Theme</label>
                            <select class="class_select" name="name_theme" id="input_theme">
                                <option value=""></option>
                                {{!-- <option value="animals">Animals</option> --}}
                                <option value="body">Body</option>
                                <option value="city">City</option>
                                <option value="clothes">Clothes</option>
                                {{!-- <option value="countries">Countries</option> --}}
                                <option value="disease">Disease</option>
                                {{!-- <option value="drinks">Drinks</option> --}}
                                {{!-- <option value="family">Family</option> --}}
                                <option value="fansaty">Fansaty</option>
                                {{!-- <option value="feelings">Feelings</option> --}}
                                <option value="food">Food</option>
                                {{!-- <option value="hobbies">Hobbies</option> --}}
                                {{!-- <option value="hospital">Hospital</option> --}}
                                <option value="house">House</option>
                                {{!-- <option value="jobs">Profesions</option> --}}
                                {{!-- <option value="law">Law</option> --}}
                                {{!-- <option value="movies">Movies</option> --}}
                                {{!-- <option value="music">Music</option> --}}
                                <option value="nature">Nature</option>
                                {{!-- <option value="numbers">Numbers</option> --}}
                                {{!-- <option value="office">Office</option> --}}
                                {{!-- <option value="politic">Politics</option> --}}
                                <option value="religion">Religion</option>
                                {{!-- <option value="school">School</option> --}}
                                <option value="sports">Sports</option>
                                <option value="vehicles">Vehicles</option>
                            </select>
                        </div>
                    </div>



                    <div class="inputs_labels">
                        <h2>Meanings</h2>

                        <div class="label_input language_meaning" data-value="french">
                            <div class="dsecription_input">
                                <p>French</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_french_meaning" type="text" name="french_meaning">
                                <input id="id2_french_meaning" type="text" name="french_meaning2">
                            </div>
                        </div>

                        <div class="label_input language_meaning" data-value="english">
                            <div class="dsecription_input">
                                <p>English</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_english_meaning" type="text" name="english_meaning">
                                <input id="id2_english_meaning" type="text" name="english_meaning2">
                            </div>
                        </div>

                        <div class="label_input language_meaning" data-value="german">
                            <div class="dsecription_input">
                                <p>German</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_german_meaning" type="text" name="german_meaning">
                                <input id="id2_german_meaning" type="text" name="german_meaning2">
                            </div>
                        </div>

                        <div class="label_input language_meaning" data-value="italian">
                            <div class="dsecription_input">
                                <p>Italian</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_italian_meaning" type="text" name="italian_meaning">
                                <input id="id2_italian_meaning" type="text" name="italian_meaning2">
                            </div>
                        </div>

                        <div class="label_input language_meaning" data-value="portuguese">
                            <div class="dsecription_input">
                                <p>Portuguese</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_portuguese_meaning" type="text" name="portuguese_meaning">
                                <input id="id2_portuguese_meaning" type="text" name="portuguese_meaning2">
                            </div>
                        </div>

                        <div class="label_input language_meaning" data-value="spanish">
                            <div class="dsecription_input">
                                <p>Spanish</p>
                            </div>
                            <div class="dsecription_input">
                                <input id="id_spanish_meaning" type="text" name="spanish_meaning">
                                <input id="id2_spanish_meaning" type="text" name="spanish_meaning2">
                            </div>
                        </div>
                    </div>
                </div>

                

                <div>
                    {{!-- <button id="button_register" name="button_register">Register</button> --}}
                    <input type="submit" id="button_register"  value="Register">
                </div>
            </form>
        </div>
    </div>

    {{> footer}}

</main>

<script src="/scripts/data-form.js"></script>
{{> scripts}}